<md-toolbar color="primary">
  <a md-icon-button [routerLink]="['/']"><md-icon>home</md-icon></a>
  <div class="separator"></div>
  <a href="https://jsonplaceholder.typicode.com/" target="_blank"><img src="http://i.imgur.com/QRlAg0b.png" alt="JSONPlaceholder"></a>
</md-toolbar>

<div class="jsp-progress-bar">
  <md-progress-bar [style.visibility]="loading ? 'visible' : 'hidden'" color="accent" mode="indeterminate"></md-progress-bar>
</div><!--.gk-progress-bar-->

<div class="container">
  <router-outlet class="route-animation-fadeIn"></router-outlet>
  <router-outlet name="dialog"></router-outlet>
</div>
